// Optional means that you can open/close at will
// Forced means it opens by itself and you can't exit
.optional_popup_wrapper, .forced_popup_wrapper{
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // Set color and transparency
  background-color: rgba(49,49,49, 0.9);
}

.optional_popup_wrapper{
  display: none;
}

.forced_popup_wrapper{
  display: flex;
}

.optional_popup, .forced_popup{
  position: absolute;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  // Center self horizontally
  left: 50%;
  margin-left: -250px;
  // Center self vertically (margin-top set by JS function)
  top: 50%;
  // Center form elements
  text-align: center;
}

.close_button, .left_button, .right_button{
  font-family: 'Play';
  color: inherit;
  font-size: 25px;
}

.close_button{
  position: absolute;
  right: 0;
  margin-right: 5px;
  margin-top: -5px; // Don't know why I need this all of the sudden
}

.popup_page{
  display: none;
}

#page_1{
  display: block;
}
