<div id="right">
  <div>
    <h2 id="sidebar_title">All Tags</h2>
    <span class="minor_text"><%= link_to("Create", new_tag_path) %></span>
  </div>
  <ul>
    <% tags.each do |tag| %>
        <li class="main_text">
          <%= link_to(tag.name.titleize, tag_path(tag)) %> (<%= tag.taggings_count %>)
        </li>
    <% end %>
  </ul>
</div>
