<h1>Files Tagged with "<%= @tag.name %>"</h1>
<h4><%= link_to("Return to all files", user_path(@user)) %></h4>

<div id="parent">
  <%= render partial: "/shared/textfile_feed", locals: {textfiles: @textfiles} %>
  <%= render partial: "/shared/tags", locals: {tags: @tags} %>
</div>
