<% title = "Files Tagged with '#{@tag.name}'" %>
<%= render partial: "/shared/top", locals: {title: title, link: "edit_tag"} %>

<div id="parent">
  <%= render partial: "/shared/textfile_feed", locals: {textfiles: @textfiles} %>
  <%= render partial: "/shared/tags", locals: {tags: @tags} %>
</div>
