<% #TODO: some sort of warning that says that using the back button %>
<% # => will probably mess with data, because it probably does %>

<h1>Home</h1>
<h4><%= link_to "Change Directory", edit_user_path(User.first) %></h4>

<div class="center">
  <ul id="textfiles">
    <% @textfiles.each do |textfile| %>
      <li class="main_text">
        <%= textfile.id %>
        <%= link_to (textfile.name + " @ " + textfile.location), textfile_path(textfile) %>
      </li>
    <% end %>
  </ul>
</div>
