// Styles shared between models (i.e. almost all of them) go here.
// Styles completely unique to a controller are in their relevant scss files.

// @font-face{} didn't work for some reason
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

// For "buttons"
@import url(https://fonts.googleapis.com/css?family=Play);

body{
  background-color: #E2E2E2;
}

h1, h4{
  text-align: center;
  font-family: 'Merriweather Sans';
}

h4{
  margin-top: -20px;
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  margin: 5px;
}

li.nav_link, li.nav_link_right{
  margin-top: -10px;
}

li.nav_link{
  float: left;
}

li.nav_link_right{
  float: right;
  padding-left: 5px;
}

a{
  text-decoration: none;
}

#header_container, #header,
#navigation, #center, #parent{
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

#header_container{
  width: 1040px;
  display: flex;
  align-items: center;
}

#header, #header-2, #navigation, #center, #parent{
  width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

#header, #navigation{
  background-color: rgb(173,216,230);
  border-bottom: solid;
}

#header, #header-2{
  align-items: stretch;
}

#header-2{
  z-index: 1;
  position: absolute;
}

#center, #parent{
  background-color: rgb(173,216,230);
  border-radius: 10px;
}

#parent{
  display: flex;
}

#left, #right{
  align-items: stretch;
}

#left{
  float: left;
  width: 60%;
  padding-right: 10%;
  word-wrap: break-word;
}

#right{
  float: right;
  width: 30%;
  padding-left: 20px;
  border-left: ridge;
}

h2, .main_text, .small_input_box, .large_input_box,
.submit_button, .nav_link{
  font-family: 'Raleway';
}

.main_text, .small_input_box, .large_input_box, .nav_link{
  font-size: 18px;
}

.small_input_box{
  width: 40%;
}

.large_input_box{
  width: 100%;
  resize: none;
}

.close_button{
  font-family: 'Play';
  color: inherit;
  position: absolute;
  right: 0;
  padding-right: 5px;
  font-size: 25px;
}
