// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkbox{
  // Doesn't work in Firefox
  width: 20px;
  height: 20px;
}

#toggle_all_previews_button, .toggle_preview_button{
  font-family: 'Raleway';
}

#toggle_all_previews_button{
  float: right;
}

.toggle_preview_button{
  float: right;
  // Manually centering stuff because I don't know how to do otherwise
  margin-top: 10px;
}
