// Place all the styles related to the textfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @font-face{} didn't work for some reason
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

h1{
  text-align: center;
  font-family: 'Merriweather Sans'
}

body{
  background-color: rgb(173,216,230);
}

div.center{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p.content, li.content{
  font-family: 'Raleway';
  font-size: 18px;
}

p.navigation{
  font-family: 'Raleway';
  font-size: 15px;
  text-align: center;
}

ul{
  list-style-type: none;
}

li{
  margin: 5px;
}
